<table>
  <thead>
    <th><%= f.label(:description, "Description") %></th>
    <th><%= f.label(:order_number, "Order #") %></th>
  <tbody>
  <tr>
    <th><%= f.text_field(:description)%></td>
    <th><%= f.number_field(:order_number)%></td>
</table>
